html {
    // ---------------- Site
    --primary: #202020;
    --secondary: #572daf;

    // ---------------- Buttons
    --light-btn-bg: #ffffff4f;
    --dark-btn-bg: #0000001c;

    // ---------------- text
    --heading-font: #4a4a4a;
    --normal-font: #5F6162;

    // ---------------- border
    --dark-border: #dddddd;
    --light-border: #e5e5e5;

    // ---------------- background
    --sidebar-bg: #ebebeb;
    --layout-bg: #f5f5f5;

    // ---------------- Status
    --yellow-bg: #ffeb78;
    --yellow-color: #a17e00;
    --green-bg: #d0ffd9;
    --green-color: #206b57;
    --red-bg: #ffbfc4;
    --red-color: #c70a24;
    --blue-bg: #d5ebff;
    --blue-color: #275b78;
    
    // ---------------- colors
    --white: #fff;
    --black: #000;
}